/* Fonts import */

/* inter-300 - latin */
@font-face {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 300;
  src: local(''),
       url('fonts/inter-v3-latin-300.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
       url('fonts/inter-v3-latin-300.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* inter-500 - latin */
@font-face {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 500;
  src: local(''),
       url('fonts/inter-v3-latin-500.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
       url('fonts/inter-v3-latin-500.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* inter-700 - latin */
@font-face {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 700;
  src: local(''),
       url('fonts/inter-v3-latin-700.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
       url('fonts/inter-v3-latin-700.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

/* Reset */

body,
ul,
blockquote {
  margin: 0;
}

ul[class] {
  padding: 0;
  list-style: none;
}

/* Variables */
:root {
  --dark-blue: hsl(240, 38%, 20%);
  --grayish-blue: hsl(240, 18%, 77%);
}

main {
  min-height: 100vh;
  max-width: 1440px;
}

/* Carousel section */

.slides {
  position: relative;
}

.slide {
  width: 100%;
  position: absolute;
  opacity: 0;
  transform: translateX(-100%);
}

.current {
  opacity: 1;
  transform: translateX(0);
}

.controls {
  position: absolute;
  top: 84vw;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  border-radius: 3em;
  overflow: hidden;
}

@media screen and (min-width: 400px) {
  .controls {
    top: calc(400px * 0.84);
  }
}

@media screen and (min-width: 750px) {
  .controls {
    top: calc(60vw * 0.84);
    left: unset;
    right: 40vw;
    transform: translate(50%, -50%);
  }
}

.btn {
  font-size: 10px;
  width: 5em;
  height: 4em;
  border: 0;
  border-radius: 0;
  padding: 0;
  background-color: white;
  cursor: pointer;
}

/* Testimonial */

.testimonial {
  width: 100%;
}

@media screen and (min-width: 750px) {
  .testimonial {
    display: flex;
    flex-direction: row-reverse;
    justify-content: flex-end;
    height: 60vw;
    position: relative;
  }
}

/* Testimonial > Avatar */

.avatar-container {
  /* Square container for background image */
  height: 100vw;

  background-image: url("images/pattern-bg.svg");
  background-size: 90%;
  background-repeat: no-repeat;
  background-position: center;

  display: flex;
  align-items: center;
  justify-content: center;
}

.avatar {
  width: 68%;
  height: 68%;
  border-radius: 5px;
}

@media screen and (min-width: 400px) {
  .avatar-container {
    width: 400px;
    height: 400px;
    margin: 0 auto;
  }
}

/* Change to two columns layout */
@media screen and (min-width: 750px) {
  .avatar-container {
    width: 60vw;
    height: 60vw;
    position: absolute;
    z-index: -1;
    right: 0;
  }
}

@media screen and (min-width: 1440px) {
  .avatar-container {
    width: calc(1440px * 0.6);
    height: calc(1440px * 0.6);
  }
}

/* Testimonial > Quote */

.quote {
  padding: 30px 0 100px;
  background-image: url("images/pattern-quotes.svg"),
                    url("images/pattern-curve.svg");
  background-repeat: no-repeat;
  background-position: top, bottom left;
  background-size: auto 48px, auto 80px;

  font-family: "Inter", sans-serif;
  text-align: center;
}

.quote-content {
  width: 90%;
  margin: 0 auto 20px;
  font-weight: 300;
  font-size: large; 
  line-height: 1.4;
  color: var(--dark-blue);
}

.quote-source {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.name {
  font-weight: 700;
  color: var(--dark-blue);
}

.position {
  font-weight: 500;
  color: var(--grayish-blue);
}

@media screen and (min-width: 480px) {
  .quote-content {
    max-width: 480px;
  }
}

@media screen and (min-width: 750px) {
  .quote {
    align-self: flex-end;
    display: grid;
    height: calc(60vw * 0.7 - 30px - 100px);
    width: 60vw;
    max-width: unset;
    grid-template-columns: minmax(0, 200px) minmax(320px, 450px);
    grid-template-rows: 120px 40px 1fr;
    text-align: start;
  }

  .quote-content {
    grid-column: 2 / 3;
    width: 100%;
  }

  .quote-source {
    grid-column: 2 / 3;
    flex-direction: row;
  }

  .name {
    margin-right: 1em;
  }
}

@media screen and (min-width: 796px) {
  .quote {
    font-size: large;
    grid-template-rows: 175px 40px 1fr;
    background-size: 4em, 100%;
  }

  .quote-content {
    font-size: larger;
  }
}

@media screen and (min-width: 1000px) {
  .quote {
    background-position: top left calc(200px + 4em), bottom left;
  }
}

@media screen and (min-width: 1440px) {
  .quote {
    width: (1440px * 0.6);
    height: calc(1440px * 0.6 * 0.7 - 30px - 100px);
  }
}